html {
  text-align: center;
}

body {
  display: inline-block;
  padding-top: 15px;
  background-image: url("/Users/Alice/Desktop/SheCodes Plus/SheCodesPlus_weather_app_final/my-weather-app/images/background_weatherapp.jpeg");
  background-repeat: no-repeat;
  background-color: rgb(223, 69, 94, 0.5);
  background-size: 100%;
}

.container {
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgba(148, 14, 70, 0.7);
  padding: 20px;
  border: rgb(238, 109, 163);
  color: white;
}

.button-current-location {
  border-color: rgb(238, 109, 163);
  background-color: rgb(253, 215, 231);
}

.search-input {
  width: 58%;
  height: 26px;
  border-radius: 4px;
  position: relative;
  left: 160px;
  top: -25px;

  border-color: rgb(238, 109, 163);
}

.search-button {
  background: rgb(238, 109, 163);
  text-align: center;
  height: 26px;
  width: 30px;
  border: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  position: relative;
  left: 160px;
  top: -25px;
}

h1 {
  text-align: center;
}

.todayDate {
  text-align: center;
}

.sunrise-sunset {
  text-align: center;
  font-size: 14px;
}

#celsius-link {
  font-size: 40px;
}

.temperature-settings .active {
  cursor: default;
}

.temperature-settings .active:hover {
  text-decoration: none;
}

.current-temperature {
  font-size: 50px;
  position: relative;
  left: 15px;
  top: 26px;
}

/*#fahrenheit-link {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  padding: 10px 10px;
  position: relative;
  left: 50px;
  top: 55px;
}*/

#emoji-current-weather {
  width: 150px;
  height: 150px;
  float: right;
  margin-top: -140px;
  margin-right: 50px;
  padding: none;
}

.current-weather-description {
  font-size: 18px;
  float: right;
  margin-right: -100px;
  margin-top: -22px;
}

.updated {
  font-size: 13px;
  margin-top: 70px;
  width: 200px;
}

.parameters {
  padding: 10px 10px;
  border: 2px dotted rgb(240, 197, 215);
  text-align: center;
  width: 100%;
}

.weather-forecast-temperature {
  font-size: 12px;
}

.forecast-icons {
  width: 60px;
}

.forecast-for-3hours {
  text-align: center;
}

.weather-forecast-temperature {
  text-align: center;
}

.link-github {
  color: white;
  text-decoration: underline;
}

.open-source {
  font-size: 15px;
  color: white;
}
